.container {
    position: absolute;
    top: 31px;
    right: 20px;
    
    & > a:last-child {
        margin-left: 10px;
    }
}


.active,
.link {
    display: inline-flex;
    align-items: center;
    padding: 2px 6px 0px;
    font-size: 10px;
    border: 1px solid #f4c782;
    border-radius: 2px;
}

.active {
    color: white;
    background-color: #f4c782;
}