.coverLeft,
.coverRight,
.coverRightOut,
.coverLeftOut {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	opacity: .5;
	
	img {
		height: 100vh;
	}
}

.coverLeft {
	left: 0;
}

.coverRight {
	right: 0;
}

.coverLeftOut,
.coverRightOut {
	opacity: 0;
	transition: transform .5s ease-out, opacity .5s ease-out;
	transition-delay: .4s;
}

.coverRightOut {
	transform-origin: right;
	transform: rotateY(90deg);
}

.coverLeftOut {
	transform-origin: left;
	transform: rotateY(-90deg);
}

.seal,
.sealOut {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform .4s ease-out, opacity .4s ease-out;
}

.sealOut {
	opacity: 0;
	transform: scale(1.1) translate(-50%, -50%);
}
