.title {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  font-weight: 100;
}

.formContainer,
.greetingsContainer {
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
}

.formContainer {
  margin-top: 20px;
  text-align: right;

  & > [class^="TextField_container"] {
    margin-bottom: 10px;
  }

  & > button {
    background: #f4c782;
    color: #fff;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

    &:disabled {
      opacity: 0.8;
      cursor: unset;
    }
  }
}

.greetingsContainer {
  margin-top: 20px;
  max-height: 39vh;
  overflow-y: auto;
}
